body {
  width: 700px;
  margin: 10% auto 0px auto;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

hr {
  height: 1px; 
  border: none;
  border-top: 1px solid rgba(0,0,0,0.1);
}

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
#expand {
  width: 100%; 
  text-align: center;
}
#metadata {
  width: 100%;
  height: 200px;
  border-top: 3px solid #CCC;
  background-color: #333;
}